PROJECT_ID=owlid-491411
REGION=europe-west1
ARTIFACT_REPO=owlid
SQL_INSTANCE=owlid-pg
SQL_TIER=db-f1-micro
SQL_EDITION=ENTERPRISE
SQL_VERSION=POSTGRES_16
RUNTIME_SA=owlid-run@owlid-491411.iam.gserviceaccount.com
BILLING_ACCOUNT=000000-000000-000000
BUDGET_AMOUNT=300EUR
DOMAIN=owlid.app
DNS_ZONE=owlid-app

IMAGE_TAG=latest
